html {
  background-color: rgb(143, 228, 139);
}

h1 {
  font-family: sans-serif;
  color: rgb(43, 132, 16);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  border: 5px, solid, #399147;
  width: 205px;
  background-color: #7bba7b;
}
